<footer class="main-footer">

  <!-- Default to the left -->
  <strong>Copyright © 2016 - <a href="https://digitalstep.com.ar">Digital Step</a></strong>
</footer>

<%= render partial: 'shared/sidebar_config_right' %>