<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>D</b>S</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Digital</b>STEP</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
      
        <% if user_signed_in? %>
        <!-- User Account Menu -->
        <li class="dropdown">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><span><i class="glyphicon glyphicon-user"></i></span> Logueado como <strong><%= current_user.nombre %></strong></span><span class="caret"></span>

          </a>

          <ul class="dropdown-menu">
          <% if current_user.role == "admin" %>
            <li role="presentation"><%= link_to 'Editar perfil', edit_user_path(current_user), role: "menuitem", tabindex: "-1" %></li>
            <li role="presentation" class="divider"></li>
            <% end %>
            <li role="presentation"><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, role: "menuitem", tabindex: "-1" %></li>
          </ul>

        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-maxcdn"></i><label>Libre</label><span class="caret"></span>
        </li></a>
        <% else %>
        <li class="dropdown user user-menu">
          <%= link_to "Login", new_user_session_path %>
        </li>
        <% end %>

        
      </ul>
    </div>
  </nav>
</header>