<li><a href="/sales"><i class="fa fa-shopping-cart"></i> <span>Ventas</span></a></li>
<li><a href="/products"><i class="fa fa-laptop"></i> <span>Productos</span></a></li>
<li><a href="/movements"><i class="fa fa-exchange"></i> <span>Movimientos</span></a></li>
<li><a href="/finances"><i class="fa fa-dollar"></i> <span>Finanzas</span></a></li>
<li><a href="/origin_sales"><i class="fa fa-medium"></i> <span>Cuentas ML</span></a></li>
<li><a href="/categories"><i class="fa fa-copyright"></i> <span>Categorias</span></a></li>
<li><a href="/admin/users"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
<li><a href="/clients"><i class="fa fa-user"></i> <span>Clientes</span></a></li>
<li><a href="/options/1/edit"><i class="fa fa-gear "></i> <span>Opciones</span></a></li>