<aside class="control-sidebar control-sidebar-dark">                
  <!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Home tab content -->
    <div class="tab-pane active" id="control-sidebar-home-tab">
      <h3 class="control-sidebar-heading">Cuentas Mercado Libre</h3>
      <ul class="control-sidebar-menu">
        <% OriginSale.all.each do |os| %>
          <%if os.tipo == true%>
            <li>
              <a href="javascript::;">
                <% if os.monto_bruto > Option.instance.limite %>
                  <i class="menu-icon fa fa-maxcdn bg-red"></i>
                <% else os.monto_bruto < Option.instance.limite %>
                  <i class="menu-icon fa fa-maxcdn bg-green"></i>
                <% end %>

                <div class="menu-info">
                  <h4 class="control-sidebar-subheading"><%=os.nombre%></h4>
                  <p>Bruto: <%=os.monto_bruto%></p>
                  <p>Neto: <%=os.monto_neto.round(2)%></p>
                </div>
              </a>
            </li>    
          <%end%> 
        <%end%>
      </ul><!-- /.control-sidebar-menu -->
    </div><!-- /.tab-pane -->
  </div>
</aside>

<div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>