<%= render 'form' %>

<div class="row">
  <div class="col-sm-2 col-md-offset-4">
   <button class="btn btn-block btn-primary" type="button "onclick="location.href='/products' ">Volver</button>
  </div>
</div>